<div class="wrapper wrapper-full-page">
  <div class="card container">
    <div class="col-md-4 col-md-offset-s1">
      <form [formGroup]="editUserForm">
        <div class="card card-plain">
          <div class="content">
            <div class="form-group">
              <input type="text" formControlName="firstname" placeholder="First name" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" formControlName="lastname" placeholder="Last name" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" formControlName="telegramId" placeholder="Telegram ID" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" formControlName="username" placeholder="User name" class="form-control">
            </div>
            <div class="form-group">
              <input type="email" formControlName="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" formControlName="phoneNumber" placeholder="Phone number" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" formControlName="password" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="footer text-center">
            <button type="submit" (click)="updateUser()" class="btn btn-fill btn-neutral btn-wd">Update user</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
